.container {
    padding-top: 75px;
}

.col {
    display: grid;
    grid-auto-rows: 100px;
    outline: 1px solid;
    text-align: center;
}

#reset {
    background-color: orangered;
    color: white;
}

select option[value="0"] {
    background-color: red;
}

select option[value="1"] {
    background-color: blue;
}

select option[value="2"] {
    background-color: green;
}